name: Nightly Build

on:
  schedule:
    # 在 UTC 时间每天 00:00 运行 (北京时间 08:00)
    - cron: '0 0 * * *'
  workflow_dispatch: # 允许手动触发

jobs:
  build:
    name: Nightly Compilation
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25.0.1'
        distribution: 'temurin'
        cache: 'maven'
        
        
    - name: Build with Maven
      run: |
        chmod 755 mvnw
        ./mvnw -T 3C clean package
        
      
    - name: Upload JAR Artifact
      uses: actions/upload-artifact@v4
      with:
        name: nightly-jar-package
        path: |
          **/target/*.jar
          !**/target/original-*.jar  # 排除源码JAR，只上传可执行JAR
        retention-days: 30  # 保留30天
        if-no-files-found: error